In [1]:
import pandas as pd
import time
import matplotlib.pyplot as plt

In [2]:
#read in raw data.  File from online did not have country index like github jupyter notebook showed
data = pd.read_csv('/Users/kscomputer/Desktop/Project_1/Project_1/oxford_latest2.csv')
data.head()

/Users/kscomputer/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
#set index t country name
data = data.set_index('CountryName')

In [4]:
# Create new dataframe with the 12 countries of interest
countries = data.loc[["Brazil", "Canada", "China", "Germany", "Italy", "Japan", \
                             "New Zealand", "South Korea", "Sweden", "United Kingdom", "United States"]]
df = pd.DataFrame(countries, columns=["Date", "E1_Income support", "E3_Fiscal measures","E4_International support", \
                                                "ConfirmedCases", "ConfirmedDeaths"])
df = df.reset_index()
df.head()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,20200101,0.0,0.0,0.0,0.0,0.0
1,Brazil,20200102,0.0,0.0,0.0,0.0,0.0
2,Brazil,20200103,0.0,0.0,0.0,0.0,0.0
3,Brazil,20200104,0.0,0.0,0.0,0.0,0.0
4,Brazil,20200105,0.0,0.0,0.0,0.0,0.0

In [5]:
df.to_csv("output_data/df_economic2.csv", index=False)

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
df.head()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,2020-01-01,0.0,0.0,0.0,0.0,0.0
1,Brazil,2020-01-02,0.0,0.0,0.0,0.0,0.0
2,Brazil,2020-01-03,0.0,0.0,0.0,0.0,0.0
3,Brazil,2020-01-04,0.0,0.0,0.0,0.0,0.0
4,Brazil,2020-01-05,0.0,0.0,0.0,0.0,0.0

In [7]:
df['CountryName'].unique()

array(['Brazil', 'Canada', 'China', 'Germany', 'Italy', 'Japan',
       'New Zealand', 'South Korea', 'Sweden', 'United Kingdom',
       'United States'], dtype=object)

In [8]:
#for loop to determine when income support was provided and what level.
#steps for for loop below to get to first government report of income support.
brazil = df.loc[df['CountryName']=='Brazil']

In [9]:
brazil.head()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,2020-01-01,0.0,0.0,0.0,0.0,0.0
1,Brazil,2020-01-02,0.0,0.0,0.0,0.0,0.0
2,Brazil,2020-01-03,0.0,0.0,0.0,0.0,0.0
3,Brazil,2020-01-04,0.0,0.0,0.0,0.0,0.0
4,Brazil,2020-01-05,0.0,0.0,0.0,0.0,0.0

In [10]:
brazil_e = brazil.loc[brazil['E1_Income support']==1]
brazil_e

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
92,Brazil,2020-04-02,1.0,125175000.0,0.0,6836.0,241.0
93,Brazil,2020-04-03,1.0,0.0,0.0,7910.0,299.0
94,Brazil,2020-04-04,1.0,0.0,0.0,9056.0,359.0
95,Brazil,2020-04-05,1.0,0.0,0.0,10278.0,432.0
96,Brazil,2020-04-06,1.0,0.0,0.0,11130.0,486.0
...,...,...,...,...,...,...,...
293,Brazil,2020-10-20,1.0,0.0,0.0,5250727.0,154176.0
294,Brazil,2020-10-21,1.0,0.0,0.0,5273954.0,154837.0
295,Brazil,2020-10-22,1.0,0.0,0.0,5298772.0,155403.0
296,Brazil,2020-10-23,1.0,0.0,0.0,5323630.0,155900.0
297,Brazil,2020-10-24,1.0,0.0,0.0,5353656.0,156471.0

In [11]:
df_a = df.loc[(df['E1_Income support']==1)]
df_b = df.loc[(df['E1_Income support']==2)]

In [12]:
df_a

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
92,Brazil,2020-04-02,1.0,125175000.0,0.0,6836.0,241.0
93,Brazil,2020-04-03,1.0,0.0,0.0,7910.0,299.0
94,Brazil,2020-04-04,1.0,0.0,0.0,9056.0,359.0
95,Brazil,2020-04-05,1.0,0.0,0.0,10278.0,432.0
96,Brazil,2020-04-06,1.0,0.0,0.0,11130.0,486.0
...,...,...,...,...,...,...,...
20181,United States,2020-09-06,1.0,NaN,NaN,4032.0,42.0
20182,United States,2020-09-07,1.0,NaN,NaN,4032.0,42.0
20183,United States,2020-09-08,1.0,NaN,NaN,4105.0,42.0
20184,United States,2020-09-09,1.0,NaN,NaN,4152.0,42.0
20185,United States,2020-09-10,1.0,NaN,NaN,4199.0,42.0

In [13]:
df_b

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
376,Canada,2020-03-15,2.0,0.0,0.0,244.0,1.0
377,Canada,2020-03-16,2.0,0.0,0.0,304.0,1.0
378,Canada,2020-03-17,2.0,0.0,0.0,424.0,4.0
379,Canada,2020-03-18,2.0,367000000.0,0.0,569.0,8.0
380,Canada,2020-03-19,2.0,0.0,0.0,690.0,9.0
...,...,...,...,...,...,...,...
20139,United States,2020-07-26,2.0,0.0,0.0,2475.0,25.0
20140,United States,2020-07-27,2.0,0.0,0.0,2520.0,25.0
20141,United States,2020-07-28,2.0,0.0,0.0,2589.0,26.0
20142,United States,2020-07-29,2.0,0.0,0.0,2628.0,26.0
20143,United States,2020-07-30,2.0,0.0,0.0,2686.0,26.0

In [27]:
df = df.drop_duplicates(keep='first')

In [18]:
df.dropna()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,2020-01-01,0.0,0.0,0.0,0.0,0.0
1,Brazil,2020-01-02,0.0,0.0,0.0,0.0,0.0
2,Brazil,2020-01-03,0.0,0.0,0.0,0.0,0.0
3,Brazil,2020-01-04,0.0,0.0,0.0,0.0,0.0
4,Brazil,2020-01-05,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
20146,United States,2020-08-02,1.0,0.0,0.0,2808.0,26.0
20147,United States,2020-08-03,1.0,0.0,0.0,2848.0,27.0
20148,United States,2020-08-04,1.0,0.0,0.0,2884.0,27.0
20149,United States,2020-08-05,1.0,0.0,0.0,2923.0,27.0
20150,United States,2020-08-06,1.0,0.0,0.0,2953.0,27.0

In [19]:
df['CountryName'].value_counts()

United States     12737
United Kingdom     1387
Sweden              302
Japan               302
South Korea         302
New Zealand         302
Canada              302
Brazil              302
Italy               302
China               302
Germany             302
Name: CountryName, dtype: int64

In [20]:
df[df['CountryName']=='United States']

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
4228,United States,2020-01-01,0.0,0.0,0.0,0.0,0.0
4229,United States,2020-01-02,0.0,0.0,0.0,0.0,0.0
4230,United States,2020-01-03,0.0,0.0,0.0,0.0,0.0
4231,United States,2020-01-04,0.0,0.0,0.0,0.0,0.0
4232,United States,2020-01-05,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
20228,United States,2020-10-23,NaN,NaN,NaN,10545.0,68.0
20229,United States,2020-10-24,NaN,NaN,NaN,10805.0,68.0
20230,United States,2020-10-25,NaN,NaN,NaN,11041.0,68.0
20231,United States,2020-10-26,NaN,NaN,NaN,11477.0,77.0
20232,United States,2020-10-27,NaN,NaN,NaN,11806.0,77.0

In [25]:
df[df['CountryName']=='United States']['Date'].min()

Timestamp('2020-01-01 00:00:00')

In [26]:
df[df['CountryName']=='United States']['Date'].max()

Timestamp('2020-10-28 00:00:00')