In [1]:
import pandas as pd
import time
import matplotlib.pyplot as plt

In [5]:
ox = pd.read_csv('/Users/kscomputer/Desktop/Project_1/Project_1/output_data/oxford_clean.csv')
ox.head()

,Date,C1_School closing,C2_Workplace closing,C6_Stay at home requirements,E1_Income support,E3_Fiscal measures,H6_Facial Coverings,ConfirmedCases,ConfirmedDeaths
0,20200101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20200102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20200103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20200104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20200105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0