In [2]:
import pandas as pd
import time
import matplotlib.pyplot as plt

In [4]:
#read in raw data.  File from online did not have country index like github jupyter notebook showed
data = pd.read_csv('/Users/kscomputer/Desktop/Project_1/Project_1/oxford_latest2.csv')
data.head()

/Users/kscomputer/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#set index t country name
data = data.set_index('CountryName')

In [10]:
# Create new dataframe with the 12 countries of interest
countries = data.loc[["Brazil", "Canada", "China", "Germany", "Italy", "Japan", \
                             "New Zealand", "South Korea", "Sweden", "United Kingdom", "United States"]]
df = pd.DataFrame(countries, columns=["Date", "E1_Income support", "E3_Fiscal measures","E4_International support", \
                                                "ConfirmedCases", "ConfirmedDeaths"])
df = df.reset_index()
df.head()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,20200101,0.0,0.0,0.0,0.0,0.0
1,Brazil,20200102,0.0,0.0,0.0,0.0,0.0
2,Brazil,20200103,0.0,0.0,0.0,0.0,0.0
3,Brazil,20200104,0.0,0.0,0.0,0.0,0.0
4,Brazil,20200105,0.0,0.0,0.0,0.0,0.0

In [15]:
df.to_csv("output_data/df_economic2.csv", index=False)

In [14]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
df.head()

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
0,Brazil,2020-01-01,0.0,0.0,0.0,0.0,0.0
1,Brazil,2020-01-02,0.0,0.0,0.0,0.0,0.0
2,Brazil,2020-01-03,0.0,0.0,0.0,0.0,0.0
3,Brazil,2020-01-04,0.0,0.0,0.0,0.0,0.0
4,Brazil,2020-01-05,0.0,0.0,0.0,0.0,0.0

In [17]:
df['CountryName'].unique()

array(['Brazil', 'Canada', 'China', 'Germany', 'Italy', 'Japan',
       'New Zealand', 'South Korea', 'Sweden', 'United Kingdom',
       'United States'], dtype=object)

In [22]:
#for loop to determine when income support was provided and what level.
results = []

for country in df['CountryName'].unique():
    country_df = df[df['CountryName']==country]
    results.append(country_df[country_df['E1_Income support']==1])

In [23]:
country_df

,CountryName,Date,E1_Income support,E3_Fiscal measures,E4_International support,ConfirmedCases,ConfirmedDeaths
4228,United States,2020-01-01,0.0,0.0,0.0,0.0,0.0
4229,United States,2020-01-02,0.0,0.0,0.0,0.0,0.0
4230,United States,2020-01-03,0.0,0.0,0.0,0.0,0.0
4231,United States,2020-01-04,0.0,0.0,0.0,0.0,0.0
4232,United States,2020-01-05,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
20229,United States,2020-10-24,NaN,NaN,NaN,10805.0,68.0
20230,United States,2020-10-25,NaN,NaN,NaN,11041.0,68.0
20231,United States,2020-10-26,NaN,NaN,NaN,11477.0,77.0
20232,United States,2020-10-27,NaN,NaN,NaN,11806.0,77.0
20233,United States,2020-10-28,NaN,NaN,NaN,NaN,NaN